openaksess-7.5.x/modules/api/src/resources/no/kantega/publishing/admin/templateconfiguration/aksess-templateconfig.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.kantega.no" xmlns="http://www.kantega.no" elementFormDefault="qualified">
    <xs:element name="templateConfiguration">
        <xs:annotation>
            <xs:documentation>
                Configures the templates the content objects published in the system is based on.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sites">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="site" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="associationCategories">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" ref="associationCategory"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="documentTypes" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="documentType" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="contentTemplates">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="contentTemplate" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="metadataTemplates" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="contentTemplate" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="displayTemplates">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="displayTemplate"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="site">
        <xs:annotation>
            <xs:documentation>
                Specifies a single site.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="disabled" type="xs:boolean"/>
            </xs:all>
            <xs:attribute name="alias" use="required" type="xs:string"/>
            <xs:attribute name="databaseId" use="required" type="xs:integer"/>
            <xs:attribute name="id" use="required" type="xs:string"/>
            <xs:attribute name="displayTemplateId" use="required" type="xs:string"/>
            <xs:attribute name="isDefault" type="xs:boolean"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="documentType">
        <xs:annotation>
            <xs:documentation>
                In some cases it is desired to specify that an content object is of a particular
                document type, this document type have to be specified explicitly in the template config.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="name" type="xs:string"/>
            </xs:all>
            <xs:attribute name="databaseId" use="required" type="xs:integer"/>
            <xs:attribute name="id" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="displayTemplate">
        <xs:annotation>
            <xs:documentation>
                A display template specifies how an content object should be displayed to the user.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="contentTemplate">
                    <xs:annotation>
                        <xs:documentation>
                            The content template that should be the basis of content published with the display template.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="metaDataTemplate">
                    <xs:annotation>
                        <xs:documentation>
                            Referes to an optional metadata template.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="description" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            A description of the intended used of the content published with the template.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="view" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            The main view for the content.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="searchView" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            If specified, an search hit with a searchView will be rendered according to the searchview
                            in the resultlist.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="miniView" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            When rendering the miniview of an content object the miniView template refered to will be used.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="rssView" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            <xs:annotation>
                                <xs:documentation>
                                    When rendering a rssview of an content object the rssView template refered to will be used.
                                </xs:documentation>
                            </xs:annotation>
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="controllers" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies controllers which should be run before rendering the display template.
                            Have to be an controller declared in the application context.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="controller" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="sites" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies under which sites the display template should be used.
                            If absent the display template will be present in all sites.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="site" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" use="required" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="properties" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Declares custom properties for the template.
                            An example is to specify smoketest=false to indicate that content with the particular
                            template should be excluded from the smoketest.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="property" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="name" use="required" type="xs:string"/>
                                    <xs:attribute name="value" use="required" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="defaultForumId" type="xs:integer" maxOccurs="1" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="allowMultipleUsages" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        Specifies wheter it should be possible to publish multiple content object with this display template.
                        Default is true.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="databaseId" use="required" type="xs:integer"/>
            <xs:attribute name="id" use="required" type="xs:string"/>
            <xs:attribute name="isNewGroup" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        Specifies that content published under content with this display template should get the association
                        id of this content as groupId
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="associationCategory">
        <xs:annotation>
            <xs:documentation>
                An association category may be used to declare that content published in a particular association category
                should end up in a particular location on the rendered page.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="name" type="xs:string" minOccurs="0"/>
                <xs:element name="description" type="xs:string" minOccurs="0"/>
            </xs:all>
            <xs:attribute name="databaseId" type="xs:integer"/>
            <xs:attribute name="id" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="contentTemplate">
        <xs:annotation>
            <xs:documentation>
                A content template referes to a template file which specifies the attributes comprising the content object.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:all>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="templateFile" type="xs:string"/>
                <xs:element name="allowedParentTemplates" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            A content object may only be published under content objects with
                            the specified content templates.
                            If absent the content objects are publishable under all content templates.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="contentTemplate" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" use="required" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="associationCategories" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            A content object may only be published in the specified association categories.
                            If absent the content objects are publishable in all association categories.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="associationCategory" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:attribute name="id" use="required" type="xs:string"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="defaultAssociationCategory" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            The association category that should be chosen as default.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="documentType" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            If specified content created with the particular content template has the specified documentType.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="documentTypeForChildren" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Specifies that content published under the content with this document type get the specified
                            document type.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:attribute name="id" use="required" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="defaultPageUrlAlias" type="xs:string"/>
            </xs:all>
            <xs:attribute name="contentType">
                <xs:annotation>
                    <xs:documentation>
                        Specifies what type of content the content template represents.
                        Default is PAGE.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="PAGE"/>
                        <xs:enumeration value="LINK"/>
                        <xs:enumeration value="FILE"/>
                        <xs:enumeration value="FORM"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="databaseId" use="required" type="xs:integer"/>
            <xs:attribute name="id" use="required" type="xs:string"/>
            <xs:attribute name="isHearingEnabled" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        Specifies whether the hearing functionality should be available for content with this content template.
                        Default is false.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="keepVersions" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>
                        Specifies the number of versions of an content object to keep.
                        If not specified the Aksess default value will be used.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="expireAction" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>
                       The action that should be performed when the content expires.
                        One of the values in no.kantega.publishing.common.data.enums.ExpireAction
                        (HIDE = 0
                         REMIND = 1
                         DELETE = 2
                         ARCHIVE = 3)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="expireMonths" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>
                        Specifies that by default the content expire after the specified number of months.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="isSearchable" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        Specifies whether content published with this content template is searchable.
                        When this is set to false the possibility to toggle whether the content should be
                        searchable is disabled.
                        Default is true.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="isDefaultSearchable" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>
                        Specifies whether content published with this content template is searchable by default.
                        When set to false new content has searchable = false, so to make the content appear in search
                        it has to be marked as such in the admin interface.
                        Default is true.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
